In [76]:
#importing the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [77]:
#reading the train csv file

data=pd.read_csv("D:/INTERNSHALA/Predictive Modeling and Basics of Machine Learning/Assignment 4 (3)/train.csv")

In [78]:
#seeing the dimensions

data.shape

(12980, 12)

In [79]:
#shows the first 5 rows

data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81.0,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80.0,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80.0,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75.0,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75.0,0.0,0,1,1

In [80]:
data.weather.value_counts()

1    8576
2    3273
3    1128
4       3
Name: weather, dtype: int64

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12980 entries, 0 to 12979
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    12980 non-null  object
 1   season      12980 non-null  int64
 2   holiday     12980 non-null  int64
 3   workingday  12980 non-null  int64
 4   weather     12980 non-null  int64
 5   temp        12980 non-null  float64
 6   atemp       12980 non-null  float64
 7   humidity    12980 non-null  float64
 8   windspeed   12980 non-null  float64
 9   casual      12980 non-null  int64
 10  registered  12980 non-null  int64
 11  count       12980 non-null  int64
dtypes: float64(4), int64(7), object(1)
memory usage: 1.2+ MB

In [82]:
data=pd.get_dummies(data=data,columns=["season","weather"])

In [83]:
data.head()

,datetime,holiday,workingday,temp,atemp,humidity,windspeed,casual,registered,count,season_1,season_2,season_3,season_4,weather_1,weather_2,weather_3,weather_4
0,2011-01-01 0:00:00,0,0,9.84,14.395,81.0,0.0,3,13,16,1,0,0,0,1,0,0,0
1,2011-01-01 1:00:00,0,0,9.02,13.635,80.0,0.0,8,32,40,1,0,0,0,1,0,0,0
2,2011-01-01 2:00:00,0,0,9.02,13.635,80.0,0.0,5,27,32,1,0,0,0,1,0,0,0
3,2011-01-01 3:00:00,0,0,9.84,14.395,75.0,0.0,3,10,13,1,0,0,0,1,0,0,0
4,2011-01-01 4:00:00,0,0,9.84,14.395,75.0,0.0,0,1,1,1,0,0,0,1,0,0,0

In [84]:
data.drop(columns=["season_4","weather_4","datetime"],inplace=True)

In [85]:
data.head()

,holiday,workingday,temp,atemp,humidity,windspeed,casual,registered,count,season_1,season_2,season_3,weather_1,weather_2,weather_3
0,0,0,9.84,14.395,81.0,0.0,3,13,16,1,0,0,1,0,0
1,0,0,9.02,13.635,80.0,0.0,8,32,40,1,0,0,1,0,0
2,0,0,9.02,13.635,80.0,0.0,5,27,32,1,0,0,1,0,0
3,0,0,9.84,14.395,75.0,0.0,3,10,13,1,0,0,1,0,0
4,0,0,9.84,14.395,75.0,0.0,0,1,1,1,0,0,1,0,0

In [88]:
x_train=data.drop(columns="count")

In [91]:
y_train=data["count"]

In [93]:
#import sklearn for linear regression

from sklearn.linear_model import LinearRegression

In [94]:
#create object lreg

lreg=LinearRegression()

In [96]:
lreg.fit(x_train,y_train)

LinearRegression()

In [98]:
lreg.intercept_

-5.684341886080802e-14

In [102]:
len(lreg.coef_)

14

In [104]:
data1=pd.read_csv("D:/INTERNSHALA/Predictive Modeling and Basics of Machine Learning/Assignment 4 (3)/test.csv")

In [105]:
data1=pd.get_dummies(data=data1,columns=["season","weather"])

In [115]:
data1.head()

,holiday,workingday,temp,atemp,humidity,windspeed,casual,registered,season_1,season_3,weather_1,weather_2,weather_3,season_2
0,0,0,26.24,28.790,89.0,15.0013,3,55,0,1,0,0,1,0
1,0,0,26.24,28.790,89.0,0.0000,7,54,0,1,0,1,0,0
2,0,0,26.24,28.790,89.0,0.0000,3,20,0,1,0,1,0,0
3,0,0,25.42,27.275,94.0,0.0000,3,15,0,1,0,1,0,0
4,0,0,26.24,28.790,89.0,11.0014,3,7,0,1,1,0,0,0

In [108]:
data1.drop(columns=["season_4","datetime"],inplace=True)

In [114]:
data1["season_2"]=0

In [113]:
x_train.columns

Index(['holiday', 'workingday', 'temp', 'atemp', 'humidity', 'windspeed',
       'casual', 'registered', 'season_1', 'season_2', 'season_3', 'weather_1',
       'weather_2', 'weather_3'],
      dtype='object')

In [118]:
pred=lreg.predict(data1)

In [120]:
len(pred)

4399

In [123]:
pd.DataFrame(pred).to_csv("pp.csv")